* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
}

.hg-container {
  background: #fff;
  position: relative;
  overflow: hidden;
}

.hg-element {
  border: 1px dashed #d9d9d9;
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform:   translate(0, 0);
      -ms-transform:   translate(0, 0);
       -o-transform:   translate(0, 0);
          transform:   translate(0, 0);
  -webkit-transition: border 0.2s ease;
     -moz-transition: border 0.2s ease;
      -ms-transition: border 0.2s ease;
       -o-transition: border 0.2s ease;
          transition: border 0.2s ease;
}

.hg-element.hg-focus {
  border: 1px dashed #44687c;
  cursor: move;
}


.hg-element::after {
  content: '';
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  width: auto;
  height: auto;
  z-index: -1;
}

.hg-content {
  cursor: auto;
  outline: none;
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  width: auto;
  height: auto;
  overflow: hidden;
}

.hg-content > * {
  margin: 0;
  padding: 0;
}

.hg-element.hg-focus > .hg-content {
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
       -o-user-select: auto;
          user-select: auto;
}

.hg-handle {
  background: #eef9fe;
  border: 1px solid #668c9f;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 128, 224, 0.4);
     -moz-box-shadow: 0 0 2px 1px rgba(0, 128, 224, 0.4);
          box-shadow: 0 0 2px 1px rgba(0, 128, 224, 0.4);
  -webkit-transition: opacity 0.2s ease, visibility 0s linear 0.2s;
     -moz-transition: opacity 0.2s ease, visibility 0s linear 0.2s;
      -ms-transition: opacity 0.2s ease, visibility 0s linear 0.2s;
       -o-transition: opacity 0.2s ease, visibility 0s linear 0.2s;
          transition: opacity 0.2s ease, visibility 0s linear 0.2s;
}

.hg-handle::after {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: 30px;
  height: 30px;
}

.hg-focus > .hg-handle {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
     -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.hg-handle-n  { cursor: n-resize;  cursor: ns-resize;   margin: 0 0 0 -6px; top: -6px; right: auto; bottom: auto; left:  50%; }
.hg-handle-ne { cursor: ne-resize; cursor: nesw-resize; margin: 0;          top: -6px; right: -6px; bottom: auto; left: auto; }
.hg-handle-e  { cursor: e-resize;  cursor: ew-resize;   margin: -6px 0 0;   top:  50%; right: -6px; bottom: auto; left: auto; }
.hg-handle-se { cursor: se-resize; cursor: nwse-resize; margin: 0;          top: auto; right: -6px; bottom: -6px; left: auto; }
.hg-handle-s  { cursor: s-resize;  cursor: ns-resize;   margin: 0 0 0 -6px; top: auto; right: auto; bottom: -6px; left:  50%; }
.hg-handle-sw { cursor: sw-resize; cursor: nesw-resize; margin: 0;          top: auto; right: auto; bottom: -6px; left: -6px; }
.hg-handle-w  { cursor: w-resize;  cursor: ew-resize;   margin: -6px 0 0;   top:  50%; right: auto; bottom: auto; left: -6px; }
.hg-handle-nw { cursor: nw-resize; cursor: nwse-resize; margin: 0;          top: -6px; right: auto; bottom: auto; left: -6px; }
